body{
    background-color: lightgray;
}

.container{
    border-top: 40px;
}

.icon{
    height: 30px;
    width: 30px;
    color:white;
    margin-left: 15px;
}

.top-navbar{
    height: 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.bottom-navbar{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.bottom-navbar li a{
    color:white;
}